flows/After_Release_Action_Item_Notifications-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailtoAssignees</name>
        <label>SendEmailtoAssignees</label>
        <locationX>608</locationX>
        <locationY>383</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListofEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>GetEmailTemplate.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddEmailtoList</name>
        <label>AddEmailtoList</label>
        <locationX>800</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>ListofEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrieveAssignee.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
    </assignments>
    <interviewLabel>After Release Action Item Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Release Action Item Notifications</label>
    <loops>
        <name>List_of_Assignees</name>
        <label>List of Assignees</label>
        <locationX>603</locationX>
        <locationY>73</locationY>
        <assignNextValueToReference>ActionItemLV</assignNextValueToReference>
        <collectionReference>Get_After_Release_Action_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RetrieveAssignee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetEmailTemplate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_After_Release_Action_Item_Records</name>
        <label>Get After Release Action Item Records</label>
        <locationX>383</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
        <filters>
            <field>Change_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <filters>
            <field>After_Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Action_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assignee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Change_Control_Record</name>
        <label>Get Change Control Record</label>
        <locationX>179</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_After_Release_Action_Item_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <object>CMPL123QMS__Change_Control__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmailTemplate</name>
        <label>GetEmailTemplate</label>
        <locationX>607</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailtoAssignees</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>After_Release_Action_Item</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RetrieveAssignee</name>
        <label>RetrieveAssignee</label>
        <locationX>800</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddEmailtoList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionItemLV.Assignee__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>Get_Change_Control_Record</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>After Release Action Item is ready to be started for Change Request {!Get_Change_Control_Record.Name}.
Access change requet by logging into Trackwise Digital and going to your dashboards.

Do not reply to this e-Mail. Your e-Mail will not be read. This is an automatic message sent by the system.</text>
    </textTemplates>
    <variables>
        <name>ActionItemLV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ChangeControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>ListofEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
