flows/After_Release_Action_Item_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailtoAssignees</name>
        <label>SendEmailtoAssignees</label>
        <locationX>527</locationX>
        <locationY>417</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListofEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>After Release Action Items for {!Get_Change_Control_Record.Name} Can Be Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendGetActionItemErrortoAdmin</name>
        <label>SendGetActionItemErrortoAdmin</label>
        <locationX>344</locationX>
        <locationY>420</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>After Release Action Item Notifications Flow Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>AdminErrorHandling2.Addresses__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GetAfterReleaseItemsErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendGetAssigneeErrortoAdmin</name>
        <label>SendGetAssigneeErrortoAdmin</label>
        <locationX>1056</locationX>
        <locationY>63</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>After Release Action Item Notifications Flow Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>AdminErrorHandling3.Addresses__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GetAssigneeErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendGetChangeControlErrortoAdmin</name>
        <label>SendGetChangeControlErrortoAdmin</label>
        <locationX>182</locationX>
        <locationY>415</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>After Release Action Item Notifications Flow Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>AdminErrorHandling.Addresses__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GetChangeControlErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddEmailtoList</name>
        <label>AddEmailtoList</label>
        <locationX>764</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>ListofEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrieveAssignee.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Ensure there are emails in list</description>
        <name>Emails_Found</name>
        <label>Emails Found?</label>
        <locationX>518</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>No Emails Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Emails_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailtoAssignees</targetReference>
            </connector>
            <label>Yes, Emails Found</label>
        </rules>
    </decisions>
    <description>this is a test.</description>
    <interviewLabel>After Release Action Item Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Release Action Item Notifications</label>
    <loops>
        <name>List_of_Assignees</name>
        <label>List of Assignees</label>
        <locationX>525</locationX>
        <locationY>62</locationY>
        <assignNextValueToReference>ActionItemLV</assignNextValueToReference>
        <collectionReference>Get_After_Release_Action_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RetrieveAssignee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Emails_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AdminErrorHandling</name>
        <label>AdminErrorHandling</label>
        <locationX>182</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendGetChangeControlErrortoAdmin</targetReference>
        </connector>
        <object>AdminErrorHandling__c</object>
    </recordLookups>
    <recordLookups>
        <name>AdminErrorHandling2</name>
        <label>AdminErrorHandling</label>
        <locationX>344</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendGetActionItemErrortoAdmin</targetReference>
        </connector>
        <object>AdminErrorHandling__c</object>
    </recordLookups>
    <recordLookups>
        <name>AdminErrorHandling3</name>
        <label>AdminErrorHandling</label>
        <locationX>924</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendGetAssigneeErrortoAdmin</targetReference>
        </connector>
        <object>AdminErrorHandling__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_After_Release_Action_Item_Records</name>
        <label>Get After Release Action Item Records</label>
        <locationX>346</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AdminErrorHandling2</targetReference>
        </faultConnector>
        <filters>
            <field>After_Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <object>Action_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assignee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Change_Control_Record</name>
        <label>Get Change Control Record</label>
        <locationX>179</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_After_Release_Action_Item_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AdminErrorHandling</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <object>CMPL123QMS__Change_Control__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RetrieveAssignee</name>
        <label>RetrieveAssignee</label>
        <locationX>764</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddEmailtoList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AdminErrorHandling3</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionItemLV.Assignee__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>Get_Change_Control_Record</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>After Release Action Items are ready to be started for Change Request {!Get_Change_Control_Record.Name}.
Access change request by logging into Trackwise Digital and going to your dashboards.

Do not reply to this e-Mail. Your e-Mail will not be read. This is an automatic message sent by the system.</text>
    </textTemplates>
    <textTemplates>
        <name>GetAfterReleaseItemsErrorMessage</name>
        <text>System was unable to retrieve after release action items for change control id {!ChangeControlID}
Error Message:  {!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>GetAssigneeErrorMessage</name>
        <text>System was unable to retrieve the Assignee record for Action Item {!ActionItemLV.Name}.
Error Message:  {!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>GetChangeControlErrorMessage</name>
        <text>System was unable to find the change control record with id of {!ChangeControlID}.
Error Message: {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>ActionItemLV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ChangeControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
