flows/After_Release_Action_Item_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailtoAssignees</name>
        <label>SendEmailtoAssignees</label>
        <locationX>527</locationX>
        <locationY>440</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListofEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>After Release Action Items for {!Get_Change_Control_Record.Name} Can Be Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddEmailtoList</name>
        <label>AddEmailtoList</label>
        <locationX>764</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>ListofEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrieveAssignee.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Ensure there are emails in list</description>
        <name>Emails_Found</name>
        <label>Emails Found?</label>
        <locationX>519</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>No Emails Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Emails_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailtoAssignees</targetReference>
            </connector>
            <label>Yes, Emails Found</label>
        </rules>
    </decisions>
    <interviewLabel>After Release Action Item Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Release Action Item Notifications</label>
    <loops>
        <name>List_of_Assignees</name>
        <label>List of Assignees</label>
        <locationX>525</locationX>
        <locationY>62</locationY>
        <assignNextValueToReference>ActionItemLV</assignNextValueToReference>
        <collectionReference>Get_After_Release_Action_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RetrieveAssignee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Emails_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_After_Release_Action_Item_Records</name>
        <label>Get After Release Action Item Records</label>
        <locationX>353</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
        <filters>
            <field>After_Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Action_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assignee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Change_Control_Record</name>
        <label>Get Change Control Record</label>
        <locationX>179</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_After_Release_Action_Item_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMPL123QMS__Change_Control__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RetrieveAssignee</name>
        <label>RetrieveAssignee</label>
        <locationX>764</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddEmailtoList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionItemLV.Assignee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>48</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Get_Change_Control_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>After Release Action Items are ready to be started for Change Request {!Get_Change_Control_Record.Name}.
Access change request by logging into Trackwise Digital and going to your dashboards.

Do not reply to this e-Mail. Your e-Mail will not be read. This is an automatic message sent by the system.</text>
    </textTemplates>
    <variables>
        <name>ActionItemLV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ChangeControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
