flows/Assign_Global_Assessment_Due_Date-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Assign_Global_Assessment_Due_Date-6 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke Assign_Global_Assessment_Due_Date-6, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ramkumar.poovalai@ext.biomerieux.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Assign_Global_Assessment_Due_Date-6 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke Assign_Global_Assessment_Due_Date-6, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ramkumar.poovalai@ext.biomerieux.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Meddev Countries ?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Other Countries ?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.CMPL123CME__Complaint__r.BMX_PRE1_Patient_or_operator_death__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.CMPL123CME__Complaint__r.BMX_PRE1_Patient_or_operator_death__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.CMPL123CME__Complaint__r.BMX_PRE2_1_Patient_or_operator_harmed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.CMPL123CME__Complaint__r.BMX_PRE2_1_Patient_or_operator_harmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Death/Harmed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Train 2 Enhnacement - French Southern territories correction v3</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_Customer_Contact_Date__c + 10</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0858068480</name>
        <dataType>Date</dataType>
        <expression>{!SObject.CMPL123CME__Complaint__r.BMX_Customer_Contact_Date__c} + 10</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_Customer_Contact_Date__c + 20</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_0343445336</name>
        <dataType>Date</dataType>
        <expression>{!SObject.CMPL123CME__Complaint__r.BMX_Customer_Contact_Date__c} + 20</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_Customer_Contact_Date__c + 1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_6924584691</name>
        <dataType>Date</dataType>
        <expression>{!SObject.CMPL123CME__Complaint__r.BMX_Customer_Contact_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
AND (
[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c &lt;&gt; null,

OR([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE1_Patient_or_operator_death__c =  null,
[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE1_Patient_or_operator_death__c &lt;&gt;  &apos;Yes&apos;),
OR([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE2_1_Patient_or_operator_harmed__c = null,
[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE2_1_Patient_or_operator_harmed__c &lt;&gt; &apos;Yes&apos;),

[CMPL123CME__Questionnaire__c].RecordType.DeveloperName = &apos;Global_Assessment&apos;,

OR(
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;AUSTRIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;BELGIUM&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;BULGARIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;SWITZERLAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;CYPRUS&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;CZECHREPUBLIC&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;GERMANY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;DENMARK&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;SPAIN&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;ESTONIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FINLAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FRANCE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;UNITED KINGDOM&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;GREECE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;CROATIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;HUNGARY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;IRELAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;ICELAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;ITALY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;LIECHTENSTEIN&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;LITHUANIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;LUXEMBOURG&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;LATVIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;MALTA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;NETHERLANDS&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;NORWAY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;POLAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;PORTUGAL&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;ROMANIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;SLOVAKIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;SLOVENIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;SWEDEN&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FRENCH SOUTHERN TERRITORIES&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FRENCH POLYNESIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FRENCH GUIANA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;GUADELOUPE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;NEW CALEDONIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;REUNION&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;SAN MARINO&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;MARTINIQUE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;TURKEY&apos;
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>
AND (
{!SObject.CMPL123CME__Complaint__c} &lt;&gt; null,

OR({!SObject.CMPL123CME__Complaint__r.BMX_PRE1_Patient_or_operator_death__c} =  null,
{!SObject.CMPL123CME__Complaint__r.BMX_PRE1_Patient_or_operator_death__c} &lt;&gt;  &apos;Yes&apos;),
OR({!SObject.CMPL123CME__Complaint__r.BMX_PRE2_1_Patient_or_operator_harmed__c} = null,
{!SObject.CMPL123CME__Complaint__r.BMX_PRE2_1_Patient_or_operator_harmed__c} &lt;&gt; &apos;Yes&apos;),

{!SObject.RecordType.DeveloperName} = &apos;Global_Assessment&apos;,

OR(
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;AUSTRIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;BELGIUM&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;BULGARIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;SWITZERLAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;CYPRUS&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;CZECHREPUBLIC&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;GERMANY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;DENMARK&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;SPAIN&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;ESTONIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FINLAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FRANCE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;UNITED KINGDOM&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;GREECE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;CROATIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;HUNGARY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;IRELAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;ICELAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;ITALY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;LIECHTENSTEIN&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;LITHUANIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;LUXEMBOURG&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;LATVIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;MALTA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;NETHERLANDS&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;NORWAY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;POLAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;PORTUGAL&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;ROMANIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;SLOVAKIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;SLOVENIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;SWEDEN&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FRENCH SOUTHERN TERRITORIES&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FRENCH POLYNESIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FRENCH GUIANA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;GUADELOUPE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;NEW CALEDONIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;REUNION&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;SAN MARINO&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;MARTINIQUE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;TURKEY&apos;
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND 
(
[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c &lt;&gt; null,

[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c &lt;&gt; null,

OR([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE1_Patient_or_operator_death__c =  null,
[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE1_Patient_or_operator_death__c &lt;&gt;  &apos;Yes&apos;),

OR([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE2_1_Patient_or_operator_harmed__c = null,
[CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.BMX_PRE2_1_Patient_or_operator_harmed__c &lt;&gt; &apos;Yes&apos;),

[CMPL123CME__Questionnaire__c].RecordType.DeveloperName = &apos;Global_Assessment&apos;,

NOT(
OR(
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;AUSTRIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;BELGIUM&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;BULGARIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;SWITZERLAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;CYPRUS&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;CZECHREPUBLIC&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;GERMANY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;DENMARK&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;SPAIN&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;ESTONIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;FINLAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;FRANCE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;UNITED KINGDOM&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;GREECE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;CROATIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;HUNGARY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;IRELAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;ICELAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;ITALY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;LIECHTENSTEIN&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;LITHUANIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;LUXEMBOURG&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;LATVIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;MALTA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;NETHERLANDS&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;NORWAY&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;POLAND&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;PORTUGAL&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;ROMANIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;SLOVAKIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;SLOVENIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;SWEDEN&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FRENCH SOUTHERN TERRITORIES&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FRENCH POLYNESIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;FRENCH GUIANA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;GUADELOUPE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;NEW CALEDONIA&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;REUNION&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;SAN MARINO&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c ) =&apos;MARTINIQUE&apos;,
UPPER([CMPL123CME__Questionnaire__c].CMPL123CME__Complaint__c.Visitor_Country__c) =&apos;TURKEY&apos;
)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND 
(
{!SObject.CMPL123CME__Complaint__c} &lt;&gt; null,

{!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} &lt;&gt; null,

OR({!SObject.CMPL123CME__Complaint__r.BMX_PRE1_Patient_or_operator_death__c} =  null,
{!SObject.CMPL123CME__Complaint__r.BMX_PRE1_Patient_or_operator_death__c} &lt;&gt;  &apos;Yes&apos;),

OR({!SObject.CMPL123CME__Complaint__r.BMX_PRE2_1_Patient_or_operator_harmed__c} = null,
{!SObject.CMPL123CME__Complaint__r.BMX_PRE2_1_Patient_or_operator_harmed__c} &lt;&gt; &apos;Yes&apos;),

{!SObject.RecordType.DeveloperName} = &apos;Global_Assessment&apos;,

NOT(
OR(
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;AUSTRIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;BELGIUM&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;BULGARIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;SWITZERLAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;CYPRUS&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;CZECHREPUBLIC&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;GERMANY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;DENMARK&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;SPAIN&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;ESTONIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;FINLAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;FRANCE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;UNITED KINGDOM&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;GREECE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;CROATIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;HUNGARY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;IRELAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;ICELAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;ITALY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;LIECHTENSTEIN&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;LITHUANIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;LUXEMBOURG&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;LATVIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;MALTA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;NETHERLANDS&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;NORWAY&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;POLAND&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;PORTUGAL&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;ROMANIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;SLOVAKIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;SLOVENIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;SWEDEN&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FRENCH SOUTHERN TERRITORIES&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FRENCH POLYNESIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;FRENCH GUIANA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;GUADELOUPE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;NEW CALEDONIA&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;REUNION&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;SAN MARINO&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c} ) =&apos;MARTINIQUE&apos;,
UPPER({!SObject.CMPL123CME__Complaint__r.Visitor_Country__c}) =&apos;TURKEY&apos;
)
)
)</expression>
    </formulas>
    <interviewLabel>Assign_Global_Assessment_Due_Date-6_InterviewLabel</interviewLabel>
    <label>Assign Global Assessment Due Date</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>CMPL123CME__Questionnaire__c</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>CMPL123CME__Questionnaire__c</object>
        <outputReference>SObject</outputReference>
        <queriedFields>CMPL123CME__Complaint__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[CMPL123CME__Questionnaire__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Due Date</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMX_Due_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0858068480</elementReference>
            </value>
        </inputAssignments>
        <object>CMPL123CME__Questionnaire__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[CMPL123CME__Questionnaire__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update Due Date</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMX_Due_Date__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_0343445336</elementReference>
            </value>
        </inputAssignments>
        <object>CMPL123CME__Questionnaire__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[CMPL123CME__Questionnaire__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Update Due Date</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BMX_Due_Date__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_6924584691</elementReference>
            </value>
        </inputAssignments>
        <object>CMPL123CME__Questionnaire__c</object>
    </recordUpdates>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
