flows/AutoCreate_Assessment_Record-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assessment_Assignment</name>
        <label>Assessment Assignment</label>
        <locationX>208</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>GlobalAssessment.CMPL123CME__Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GlobalAssessmentRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GlobalAssessment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RQCQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Global_Assessment</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>GlobalAssessmentRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!RecordTypeRecord.Id}</expression>
    </formulas>
    <interviewLabel>AutoCreate Assessment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoCreate Assessment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Global_Assessment</name>
        <label>Create Global Assessment</label>
        <locationX>434</locationX>
        <locationY>260</locationY>
        <inputReference>GlobalAssessment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Global_Assessment_Record_Type_from_Record_Type_object</name>
        <label>Get Global Assessment Record Type from Record Type object</label>
        <locationX>231</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RQC_Queue_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global_Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CMPL123CME__Questionnaire__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get RQC queue to assign as Owner for Global Assessment</description>
        <name>Get_RQC_Queue_Id</name>
        <label>Get RQC Queue Id</label>
        <locationX>389</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assessment_Assignment</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BMX_RQC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>RQCQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Global_Assessment_Record_Type_from_Record_Type_object</startElementReference>
    <variables>
        <name>ComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GlobalAssessment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>GlobalAssessmentOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G1q000000H3nN</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Get RQC queue to assign as Owner for Global Assessment</description>
        <name>RQCQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
