flows/Create_Predefined_Action_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Implementation_Plan</name>
        <label>Add to Implementation Plan</label>
        <locationX>1421</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>ImplementationPlan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ActionItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_List_of_Predefined_Action_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Action_Item_Values</name>
        <label>Assign Action Item Values</label>
        <locationX>1315</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>ActionItem.Action_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PredefinedActionItem.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Change_Control__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginatingChangeControl.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Predefined_Implementation_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ReplaceWithNewImplementationNameVariable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ReplacewithShortDescriptionVariable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Predefined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Locked_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Implementation_Plan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Items_Found</name>
        <label>Action Items Found?</label>
        <locationX>807</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No Action Items Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Action_Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofPredefinedActionItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Locked_Record_Type_Id</targetReference>
            </connector>
            <label>Yes, Action Items Found</label>
        </rules>
    </decisions>
    <description>Subflow for Select Implementation Plan Flow</description>
    <interviewLabel>Create Predefiend Action Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Predefined Action Items</label>
    <loops>
        <name>Loop_Through_List_of_Predefined_Action_Items</name>
        <label>Loop Through List of Predefined Action Items</label>
        <locationX>1203</locationX>
        <locationY>149</locationY>
        <assignNextValueToReference>PredefinedActionItem</assignNextValueToReference>
        <collectionReference>ListofPredefinedActionItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Action_Item_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Action_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Action_Items</name>
        <label>Create Action Items</label>
        <locationX>1201</locationX>
        <locationY>435</locationY>
        <inputReference>ImplementationPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_List_of_Predefined_Action_Items</name>
        <label>Retrieve List of Predefined Action Items</label>
        <locationX>633</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Items_Found</targetReference>
        </connector>
        <filters>
            <field>Predefined_Implementation_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReplaceWithNewVariable</stringValue>
            </value>
        </filters>
        <object>Predefined_Action_Item__c</object>
        <outputReference>ListofPredefinedActionItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Locked_Record_Type_Id</name>
        <label>Retrieve Locked Record Type Id</label>
        <locationX>1059</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_List_of_Predefined_Action_Items</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Locked</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action_Item__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <status>InvalidDraft</status>
    <variables>
        <name>ActionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ChangeControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImplementationPlan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ListofPredefinedActionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Predefined_Action_Item__c</objectType>
    </variables>
    <variables>
        <name>OriginatingChangeControl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123QMS__Change_Control__c</objectType>
    </variables>
    <variables>
        <name>PredefinedActionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Predefined_Action_Item__c</objectType>
    </variables>
    <variables>
        <name>PredefinedImplementationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
