flows/Create_Child_Investigation-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Populate_Investigation_Fields</name>
        <label>Populate Investigation Fields</label>
        <locationX>537</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ChildInvestigation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Child_Investigation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_Additional_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_All_Copies_of_Patient_Data_Destroyed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_All_Copies_of_Patient_Data_Destroyed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_CAPA_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_CAPA_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_Date_Product_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_Date_Product_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_EstimatedInvestigationDuration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_EstimatedInvestigationDuration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_FAB_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_FAB_Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_FAB_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_FAB_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_Invest_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_Investigation_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_Investigation_Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.BMX_Patient_Data_Copied_to_BMX_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.BMX_Patient_Data_Copied_to_BMX_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.CMPL123CME__Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.CMPL123_WF_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.CMPL123_WF_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.Master_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.INV_Reference_Creation_Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.B_Investigation_Type_Code_Choice_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.B_Investigation_Type_Code_Choice_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.B_Investigation_Type_Code_Choice_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.B_Investigation_Type_Code_Choice_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.B_Investigation_Type_Code_Choice_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.B_Investigation_Type_Code_Choice_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.B_Investigation_Type_Code_Choice_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.B_Investigation_Type_Code_Choice_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.B_Investigation_Type_Code_Choice_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.B_Investigation_Type_Code_Choice_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.B_Investigation_Type_Code_Choice_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.B_Investigation_Type_Code_Choice_6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.C_Investigation_Findings_Code_Choice1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.C_Investigation_Findings_Code_Choice1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.C_Investigation_Findings_Code_Choice2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.C_Investigation_Findings_Code_Choice2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.C_Investigation_Findings_Code_Choice3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.C_Investigation_Findings_Code_Choice3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.D_Investigation_Conclusion_Choice1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.D_Investigation_Conclusion_Choice1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.D_Investigation_Conclusion_Choice2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.D_Investigation_Conclusion_Choice2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.D_Investigation_Conclusion_Choice3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.D_Investigation_Conclusion_Choice3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.Justification_for_Annex_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.Justification_for_Annex_B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.Justification_for_Annex_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.Justification_for_Annex_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildInvestigation.Justification_for_Annex_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintRecord.BMX_Investigation__r.Justification_for_Annex_D__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Investigation</targetReference>
        </connector>
    </assignments>
    <description>EUMIR Wave 2 lot 2 - 12 codes + 3 Justification - copy to child Investigation V2</description>
    <formulas>
        <name>InvestigationTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Related To &quot; + {!ComplaintRecord.BMX_Investigation__r.Investigation_Evaluation_Number__c}</expression>
    </formulas>
    <interviewLabel>Create Child Investigation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Child Investigation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Investigation</name>
        <label>Create Investigation</label>
        <locationX>706</locationX>
        <locationY>50</locationY>
        <inputReference>ChildInvestigation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Investigation_Record_Type</name>
        <label>Get Child Investigation Record Type</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Investigation_Fields</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child_Investigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CMPL123CME__Investigation__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Child_Investigation_Record_Type</startElementReference>
    <variables>
        <name>ChildInvestigation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Investigation__c</objectType>
    </variables>
    <variables>
        <name>ComplaintRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
</Flow>
