flows/Master_Investigation_Closure_Email_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>462</locationX>
        <locationY>487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListofEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Add emails to the list</description>
        <name>AddEmailtoList</name>
        <label>AddEmailtoList</label>
        <locationX>1006</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>ListofEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>retrieve_Assigne.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_Child_Investigation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Child_Records_Found</name>
        <label>Child Records Found?</label>
        <locationX>1165</locationX>
        <locationY>76</locationY>
        <defaultConnectorLabel>No Child Records Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMasterInvestigationDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_Child_Investigation</targetReference>
            </connector>
            <label>Yes - Child Records Found</label>
        </rules>
    </decisions>
    <description>Flow - Master Investigation Closure Email Notification (andrea&apos;s version)</description>
    <interviewLabel>Master Investigation Closure Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Master Investigation Closure Email Notification</label>
    <loops>
        <description>List of child investigation</description>
        <name>List_of_Child_Investigation</name>
        <label>List of Child Investigation</label>
        <locationX>461</locationX>
        <locationY>253</locationY>
        <assignNextValueToReference>InvestigationVariable</assignNextValueToReference>
        <collectionReference>GetMasterInvestigationDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>retrieve_Assigne</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>send_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Investigation record details</description>
        <name>GetInvestigation</name>
        <label>GetInvestigation</label>
        <locationX>555</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMasterInvestigationDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarInvestigationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMPL123CME__Investigation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master_Investigation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Investigation_Evaluation_Number__c</queriedFields>
        <queriedFields>CMPL123_WF_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Master Investigation Details</description>
        <name>GetMasterInvestigationDetails</name>
        <label>GetMasterInvestigationDetails</label>
        <locationX>714</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Records_Found</targetReference>
        </connector>
        <filters>
            <field>Master_Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarInvestigationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMPL123CME__Investigation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master_Investigation__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get user email details</description>
        <name>retrieve_Assigne</name>
        <label>retrieve Assigne</label>
        <locationX>901</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddEmailtoList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvestigationVariable.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>215</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetInvestigation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>EmailBody</description>
        <name>EmailBody</name>
        <text>The Master Investigation {!GetInvestigation.Investigation_Evaluation_Number__c} has been {!GetInvestigation.CMPL123_WF_Status__c}. You are the owner of one of its Related Investigation.</text>
    </textTemplates>
    <textTemplates>
        <description>Subject line of email</description>
        <name>EmailSubject</name>
        <text>Master Investigation {!GetInvestigation.Investigation_Evaluation_Number__c} has been {!GetInvestigation.CMPL123_WF_Status__c}</text>
    </textTemplates>
    <variables>
        <name>InvestigationVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Investigation__c</objectType>
    </variables>
    <variables>
        <name>ListofEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store Investigation ID</description>
        <name>VarInvestigationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
