flows/Prerelease_Action_Items_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailtoAssignees</name>
        <label>SendEmailtoAssignees</label>
        <locationX>606</locationX>
        <locationY>469</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListofEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Change_Control_Record.Name} Is Approved for Implementation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddEmailtoList</name>
        <label>AddEmailtoList</label>
        <locationX>800</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>ListofEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrieveAssignee.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Ensure there are emails in list</description>
        <name>Emails_Found</name>
        <label>Emails Found?</label>
        <locationX>596</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>No Emails Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Emails_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailtoAssignees</targetReference>
            </connector>
            <label>Yes - Emails Found</label>
        </rules>
    </decisions>
    <description>Send notification to assignees of action items that are ready to be started after CRB Approval</description>
    <interviewLabel>Prerelease Action Items Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prerelease Action Items Notification</label>
    <loops>
        <name>List_of_Assignees</name>
        <label>List of Assignees</label>
        <locationX>603</locationX>
        <locationY>73</locationY>
        <assignNextValueToReference>ActionItemLV</assignNextValueToReference>
        <collectionReference>Get_Prerelease_Action_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RetrieveAssignee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Emails_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Change_Control_Record</name>
        <label>Get Change Control Record</label>
        <locationX>185</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prerelease_Action_Item_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <object>CMPL123QMS__Change_Control__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all action items that are open (required) and are not marked for after release.</description>
        <name>Get_Prerelease_Action_Item_Records</name>
        <label>Get Prerelease Action Item Records</label>
        <locationX>359</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_Assignees</targetReference>
        </connector>
        <filters>
            <field>After_Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <object>Action_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assignee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RetrieveAssignee</name>
        <label>RetrieveAssignee</label>
        <locationX>800</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddEmailtoList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionItemLV.Assignee__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>Get_Change_Control_Record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>Action items are ready to be started for Change Request {!Get_Change_Control_Record.Name}.
Access change request by logging into Trackwise Digital and going to your dashboards.

Do not reply to this e-Mail. Your e-Mail will not be read. This is an automatic message sent by the system.</text>
    </textTemplates>
    <variables>
        <name>ActionItemLV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ChangeControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
