flows/Select_Implementation_Plan_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Create_Action_Items</name>
        <label>Create Action Items?</label>
        <locationX>808</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>No Action Items Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Action_Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofPredefinedActionItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Action Items Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Implementation_Plan_Locked</name>
        <label>Implementation Plan Locked?</label>
        <locationX>254</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>SelectPredefinedImplementationPlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Locked</defaultConnectorLabel>
        <rules>
            <name>Is_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginatingChangeControl.CMPL123_WF_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImplementationPlan_Locked</targetReference>
            </connector>
            <label>Is Locked</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListofPredefinedImplementationPlans</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Predefined_Implementation_Plan__c</object>
        <outputAssignments>
            <assignToReference>PredefinedImplementationName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Select Implementation Plan Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Implementation Plan Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Change_Control_Record</name>
        <label>Get Change Control Record</label>
        <locationX>138</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Implementation_Plan_Locked</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <object>CMPL123QMS__Change_Control__c</object>
        <outputReference>OriginatingChangeControl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CMPL123_WF_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_List_of_Predefined_Action_Items</name>
        <label>Retrieve List of Predefined Action Items</label>
        <locationX>630</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Items</targetReference>
        </connector>
        <filters>
            <field>Predefined_Implementation_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListofPredefinedImplementationPlans</elementReference>
            </value>
        </filters>
        <object>Predefined_Action_Item__c</object>
        <outputReference>ListofPredefinedActionItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Step_Number__c</queriedFields>
        <sortField>Step_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>ImplementationPlan_Locked</name>
        <label>ImplementationPlan Locked</label>
        <locationX>259</locationX>
        <locationY>281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImplementationPlanLocked</name>
            <fieldText>&lt;p&gt;Implementation plan is locked.  No action items can be added at this time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectPredefinedImplementationPlan</name>
        <label>SelectPredefinedImplementationPlan</label>
        <locationX>474</locationX>
        <locationY>47</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retrieve_List_of_Predefined_Action_Items</targetReference>
        </connector>
        <fields>
            <name>SelectPredefinedImplementationPlanDisplayText</name>
            <fieldText>&lt;p&gt;Select a predefined implementation plan for {!OriginatingChangeControl.Name}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PredefinedImplementationPlanPicklist</name>
            <choiceReferences>ListofPredefinedImplementationPlans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PredefinedImplementationPlanPicklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Change_Control_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ChangeControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofPredefinedActionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Predefined_Action_Item__c</objectType>
    </variables>
    <variables>
        <name>OriginatingChangeControl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123QMS__Change_Control__c</objectType>
    </variables>
    <variables>
        <name>PredefinedImplementationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
