flows/Select_Implementation_Plan_Flow-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Implementation_Plan</name>
        <label>Add to Implementation Plan</label>
        <locationX>1421</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>ImplementationPlan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ActionItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_List_of_Predefined_Action_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Action_Item_Values</name>
        <label>Assign Action Item Values</label>
        <locationX>1315</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>ActionItem.Action_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PredefinedActionItem.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Change_Control__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginatingChangeControl.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Predefined_Implementation_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PredefinedImplementationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Predefined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Locked_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Implementation_Plan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Items_Found</name>
        <label>Action Items Found?</label>
        <locationX>807</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>NoActionItemsFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action Items Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Action_Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofPredefinedActionItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Locked_Record_Type_Id</targetReference>
            </connector>
            <label>Yes, Action Items Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Implementation_Plan_Locked</name>
        <label>Implementation Plan Locked?</label>
        <locationX>251</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>SelectPredefinedImplementationPlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Locked</defaultConnectorLabel>
        <rules>
            <name>Is_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginatingChangeControl.CMPL123_WF_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImplementationPlan_Locked</targetReference>
            </connector>
            <label>Is Locked</label>
        </rules>
    </decisions>
    <description>Add in record type assignment for locked page layout for predefined action items when created.</description>
    <dynamicChoiceSets>
        <name>ListofPredefinedImplementationPlans</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Predefined_Implementation_Plan__c</object>
        <outputAssignments>
            <assignToReference>PredefinedImplementationName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Select Implementation Plan Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Implementation Plan Flow</label>
    <loops>
        <name>Loop_Through_List_of_Predefined_Action_Items</name>
        <label>Loop Through List of Predefined Action Items</label>
        <locationX>1203</locationX>
        <locationY>149</locationY>
        <assignNextValueToReference>PredefinedActionItem</assignNextValueToReference>
        <collectionReference>ListofPredefinedActionItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Action_Item_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Action_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Action_Items</name>
        <label>Create Action Items</label>
        <locationX>1201</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Action_Items_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_for_Creating_Action_Items</targetReference>
        </faultConnector>
        <inputReference>ImplementationPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Change_Control_Record</name>
        <label>Get Change Control Record</label>
        <locationX>138</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Implementation_Plan_Locked</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_for_Retrieving_Change_Control</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeControlID</elementReference>
            </value>
        </filters>
        <object>CMPL123QMS__Change_Control__c</object>
        <outputReference>OriginatingChangeControl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CMPL123_WF_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_List_of_Predefined_Action_Items</name>
        <label>Retrieve List of Predefined Action Items</label>
        <locationX>633</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Items_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_for_Retrieving_Predefined_Action_Items</targetReference>
        </faultConnector>
        <filters>
            <field>Predefined_Implementation_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListofPredefinedImplementationPlans</elementReference>
            </value>
        </filters>
        <object>Predefined_Action_Item__c</object>
        <outputReference>ListofPredefinedActionItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Locked_Record_Type_Id</name>
        <label>Retrieve Locked Record Type Id</label>
        <locationX>1059</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_List_of_Predefined_Action_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Locked_Record_Type_Cannot_Be_Found</targetReference>
        </faultConnector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action_Item__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Locked</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Action_Items_Created</name>
        <label>Action Items Created</label>
        <locationX>1413</locationX>
        <locationY>435</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ActionItemsCreatedConfirmation</name>
            <fieldText>&lt;p&gt;Action Items from {!PredefinedImplementationName} have been created for {!OriginatingChangeControl.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_for_Creating_Action_Items</name>
        <label>Error Screen for Creating Action Items</label>
        <locationX>1202</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageforActionItemsNotCreated</name>
            <fieldText>&lt;p&gt;System could not create the action items from the selected implementation plan.  Please reach out to your system admin and provide the below error message.&lt;/p&gt;&lt;p&gt;--&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_for_Retrieving_Change_Control</name>
        <label>Error Screen for Retrieving Change Control</label>
        <locationX>138</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageRetrievingChangeControl</name>
            <fieldText>&lt;p&gt;System is unable to retrieve the change control record.  Please reach out to your system admin and provide the below error message.&lt;/p&gt;&lt;p&gt;--&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_for_Retrieving_Predefined_Action_Items</name>
        <label>Error Screen for Retrieving Predefined Action Items</label>
        <locationX>630</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrrorMessageRetrievingPredefinedActionItems</name>
            <fieldText>&lt;p&gt;System is unable to find any predefined action items for the selected implementation plan.  Please reach out to your system admin and provide the below error message.&lt;/p&gt;&lt;p&gt;--&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ImplementationPlan_Locked</name>
        <label>ImplementationPlan Locked</label>
        <locationX>259</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImplementationPlanLocked</name>
            <fieldText>&lt;p&gt;Implementation plan is locked.  No action items can be added at this time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Locked_Record_Type_Cannot_Be_Found</name>
        <label>Locked Record Type Cannot Be Found</label>
        <locationX>1060</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordTypeErrorMessage</name>
            <fieldText>&lt;p&gt;System is unable to find the locked record type to create the action items. Please reach out to your system admin and provide the below error message.&lt;/p&gt;&lt;p&gt;--&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoActionItemsFound</name>
        <label>NoActionItemsFound</label>
        <locationX>816</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoActionItemsFoundDisplayText</name>
            <fieldText>&lt;p&gt;No action items were found for selected predefined implementation plan.  Check with system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectPredefinedImplementationPlan</name>
        <label>SelectPredefinedImplementationPlan</label>
        <locationX>472</locationX>
        <locationY>156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retrieve_List_of_Predefined_Action_Items</targetReference>
        </connector>
        <fields>
            <name>SelectPredefinedImplementationPlanDisplayText</name>
            <fieldText>&lt;p&gt;Select a predefined implementation plan for {!OriginatingChangeControl.Name}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PredefinedImplementationPlanPicklist</name>
            <choiceReferences>ListofPredefinedImplementationPlans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Predefined Implementation Plans</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Short_Description</name>
            <dataType>String</dataType>
            <fieldText>Short Description</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a name for the implementation plan.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Change_Control_Record</startElementReference>
    <variables>
        <name>ActionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ChangeControlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImplementationPlan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Item__c</objectType>
    </variables>
    <variables>
        <name>ListofPredefinedActionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Predefined_Action_Item__c</objectType>
    </variables>
    <variables>
        <name>OriginatingChangeControl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123QMS__Change_Control__c</objectType>
    </variables>
    <variables>
        <name>PredefinedActionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Predefined_Action_Item__c</objectType>
    </variables>
    <variables>
        <name>PredefinedImplementationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
